# Ignore Node modules
week5/node_modules/
week6/node_modules/

# Ignore package files
week5/package.json
week5/package-lock.json
week6/package.json
week6/package-lock.json

# Ignore tsconfig files
week5/tsconfig.json
week6/tsconfig.json

# Ignore compiled JavaScript
week5/*.js
week6/*.js